body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #ecf0f1;
}

input,
select,
textarea {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #2c3e50;
  border-radius: 6px;
  font-size: 16px;
  background-color: #34495e;
  color: #ecf0f1;
}

input[type="button"] {
  padding: 12px;
  background-color: #2ecc71;
  color: #ecf0f1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

input[type="button"]:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

textarea {
  margin-top: 16px;
  resize: none;
}

#playArea {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  form {
      max-width: 300px;
      margin: 0 auto;
  }
}

#showcharts {
  display: none;
  margin: 20px;
}

#showcharts h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#showcharts table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#showcharts th,
#showcharts td {
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
}

#showcharts th {
  background-color: #f2f2f2;
}

#showcharts tr:nth-child(even) {
  background-color: #000000;
}

#show {
  margin-top: 20px;
  font-size: 1.2em;
}

#showcharts {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

#gender-chart,
#freq-chart {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 45%;
}

